html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}
/* HTML5 display-role reset */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
/* every element is a border-box */
* {
    box-sizing: border-box;
}/* Should be empty until you compile your LESS */

html {
    font-size: 62.5%;
    background-color: #ffffff;
    color: #222222;
    font-family: 'Roboto', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.containercontact_page {
    max-width: 1024px;
    margin: auto;
}

.navbar {
    background-color: #9EA9B3;
    color: #ffffff;
    height: 50px;
    display: flex;
    position: fixed;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 4vw;
    opacity: 85%;
    z-index: 1;

}

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
  }
  .menu-btn_burger {
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
  }
  .menu-btn_burger::before,
  .menu-btn_burger::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
  }
  .menu-btn_burger::before {
    transform: translateY(-10px);
  }
  .menu-btn_burger::after {
    transform: translateY(10px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  .nav-links {
      display: flex;
      list-style: none;
  }

  .nav-links li a {
      color: black;
      text-decoration: none;
      font-size: 1.6rem;
  }

h2 {
    font-size: 2.4rem;
}



.jumbo {
    position: relative;
    text-align: center;
}

.bottom-left {
    position: absolute;
    bottom: 5rem;
    left: 6rem;
    color: #ffffff;
    font-size: 6rem;
    font-weight: bold;
}

h3 {
    font-size: 2.4rem;
    font-weight: 600;
}

.contact_info {
    width: 50%;
}

#emailInfo {
    
}

.locations {
    width: 50%;
}