/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-size: 62.5%;
}

html,
body {
	font-family: Roboto, Arial, sans-serif;
	color: #222222;
	background-color: #FFFFFF;
}

p {
	font-size: 1.6rem;
	line-height: 24px;
}

.container {
	max-width: 1022px;
	width: 100%;
	margin: 0 auto;
}

.main_content {
	padding: 4.5%;
}

.p1 {
	font-size: 1.63rem;
	margin-bottom: 4%;
	line-height: 3rem;
}

button {
	border: 1px solid #222222;
	background-color: #FFFFFF;
	color: #222222;
	width: 20%;
	padding: 15px;
	font-size: 1.6rem;
	justify-content: space-between;
	font-weight: 800;
	margin: 1.7rem;
}

button:hover {
	background-color: skyblue;
	color: #FFFFFF;
	cursor: pointer;
}

.construction {
	display: flex;
	font-size: 1.63rem;
	margin-top: 6%;
	margin-bottom: 5%;
}

.p2 {
	line-height: 3rem;
}

.img_construction {
	width: 150%;
	margin-left: 4rem;
}

@media (max-width: 600px) {
	.container {
		display: flex;
		flex-direction: column;
	}
	button {
		flex-direction: column;
		width: 100%;
		margin-right: 1%;
		margin-left: 1%;
	}
	.construction {
		flex-direction: column;
	}
	.img_construction {
		width: 100%;
		margin-left: 0%;
		margin-top: 7%;
	}
}









